include ../partials/_variables
include ../partials/_mixins

- var suffix = production ? '.min' : '';

doctype html
html(lang='ru')

    block variables
        - var title = defaultPageTitle;

    block head
        head
            meta(name='format-detection', content='telephone=no')
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title= title
            link(href='static/css/index' + suffix + '.css', rel='stylesheet')
            link(rel='icon', href='static/favicon.ico')
            link(rel="apple-touch-icon", sizes="180x180", href="static/img/favicon/apple-touch-icon.png")
            link(rel="icon", type="image/png", sizes="32x32", href="static/img/favicon/favicon-32x32.png")
            link(rel="icon", type="image/png", sizes="16x16", href="static/img/favicon/favicon-16x16.png")
            link(rel="manifest", href="static/img/favicon/site.webmanifest")
            link(rel="mask-icon", href="static/img/favicon/safari-pinned-tab.svg", color="#000000")
            link(rel="shortcut icon", href="static/img/favicon/favicon.ico")
            meta(name="msapplication-TileColor", content="#ffffff")
            meta(name="msapplication-config", content="static/img/favicon/browserconfig.xml")
            meta(name="theme-color", content="#ffffff")


    block body
        body.lock

            // SVG
            block svg
                div.svg-container(style="position: absolute; width: 0; height: 0; overflow: hidden;")
                    include ../partials/_sprite.svg
            // Header
            block header
                +header()

            // Main content
            block main
                main

            // Footer
            block footer
                +footer()

            // Scripts
            block scripts
                script.
                     (function() {var didInit = false;function initMunchkin() {if(didInit === false) {didInit = true;Munchkin.init('890-QEF-137');}}var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//munchkin.marketo.net/munchkin.js';s.onreadystatechange = function() {if (this.readyState == 'complete' || this.readyState == 'loaded') {initMunchkin();}};s.onload = initMunchkin;document.getElementsByTagName('head')[0].appendChild(s);})();
                script(src='static/js/index' + suffix + '.js')
                script(src='static/js/frontend.js')