.clients
    background-color: #fff
    padding-top: 75px
    padding-bottom: 40px
    +res('mob')
        padding-top: 40px
    .title
        margin-bottom: 35px
    .slider-clients
        border-top: 1px solid #dbdbdb
        .clients-slide
            width: 25%
            &:nth-of-type(4n)
                .clients-item
                    &:before
                        display: none
            +res('tab')
                width: 50%
            +res('mob')
                width: 100%
        .clients-item
            height: 170px
            width: 100%
            padding: 40px
            position: relative
            border-bottom: 1px solid #dbdbdb
            img
                transition: .3s
                filter: grayscale(1)
                opacity: 0.7
                +res('tab')
                    filter: none
                +res('mob')
                    filter: none
            +res('desk-min')
                &:hover
                    img
                        filter: none
                        opacity: 1
            &:nth-of-type(2)
                border: none
            &:before
                content: ''
                width: 1px
                height: calc(100% - 50px)
                position: absolute
                top: 25px
                right: 0
                background-color: #dbdbdb
                +res('mob')
                    display: none
            .img-container
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                margin-bottom: 25px
                height: 90px
                img
                    max-width: 70%
                    max-height: 80%
                svg
                    max-width: 100%
                    max-height: 100%
                    max-height: 90px
                    width: 100%
                    height: 100%
            .text
                color: #171617
                max-width: 180px
                text-align: center
                margin: 0 auto
                font-size: 13px
                line-height: 20px
                display: none
        .flickity-button
            top: -75px
            position: absolute
            width: 85px
            height: 55px
            +res('mob')
                right: -3px
        .flickity-button.previous
            left: auto
            right: 105px
            +res('mob')
                right: 60px