.dropdown_item
  width: 290px
  height: 30px
  background-color: transparent
  border: none
  outline: none
  border-bottom: 1px solid #171617
  color: #171617
  position: relative
  cursor: pointer
  +res('mob')
    width: 100%
  &__arrow
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    transition: .3s
    transform-origin: 50% 20%
    &-active
      transform-origin: 50% 20%
      transform: rotate(180deg)
.dropdown_product
  position: absolute
  bottom: 50px
  left: 0
  width: 100%
  background-color: #fff
  box-sizing: border-box
  z-index: 5
  overflow: hidden
  visibility: visible
  transform: scaleY(0)
  transform-origin: bottom
  transition: transform 0.5s
  &__active
    transform: scaleY(1)
    transform-origin: bottom
    @keyframes fadeInn
      0%
        opacity: 0
      100%
        opacity: 1
    .dropdown_product__product
      animation: fadeInn 0.3s ease
      animation-fill-mode: forwards
      animation-delay: 0.5s
  &__product
    cursor: pointer
    height: 50px
    opacity: 0
    border-right: 1px solid #171617
    border-left: 1px solid #171617
    border-bottom: 1px solid #171617
    line-height: 50px
    padding-left: 20px
    position: relative
    overflow: hidden
    transition: .3s
    +res('desk-min')
      &:hover
        color: #fff
        &:before
          transform: translateY(0)
    &:first-child
      border-top: 1px solid #171617
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 105%
      height: 105%
      background-color: #ea2066
      z-index: -1
      transform: translateY(105%)
      transition: .3s
