.footer
    background-color: #2e2d2e
    padding-top: 40px
    padding-bottom: 55px
    .container
        display: flex
        justify-content: space-between
        +res('mob')
            flex-direction: column
        .block
            width: 25%
            min-height: 100%
            +res('tab')
                width: 33.33333%
                &:nth-of-type(2)
                    width: 0
            +res('mob')
                &:nth-of-type(1)
                    width: 100%
                    text-align: center
                    a
                        margin: 0 auto
                    p
                        margin-top: 40px
                &:not(:nth-of-type(1))
                    display: none
                &:nth-of-type(4)
                    display: flex
                    justify-content: center
                    margin-top: 15px
                    width: 100%
                    text-align: center
                    ul
                        display: none
                    a
                        position: static
            &:nth-of-type(1)
                display: flex
                flex-direction: column
                justify-content: space-between
                color: #fff
                a
                    color: #fff
                    max-width: 80px
            &:last-of-type
                display: flex
                & > ul
                    padding-bottom: 75px
                    width: 50%
                & > a
                    width: 50%
                    position: relative
                    bottom: 0
                    display: flex
                    justify-content: flex-end
                    align-items: flex-end
                    color: #7c7c7c
                    text-decoration: none
                    transition: .3s
                    +res('desk-min')
                        &:hover
                            opacity: 0.7
                    +res('tab')
                        position: absolute
                        width: auto
                        right: 15px
                    +res('mob')
                        justify-content: center
                    svg
                        width: 70px
                        height: 20px
                        fill: #fff
                        margin-left: 10px
            p
                font-size: 13px
            svg
                width: 80px
                height: 90px
        ul
            a
                font-size: 16px
                color: #fff
                text-decoration: none
                line-height: 30px
                transition: .3s
                +res('desk-min')
                    &:hover
                        opacity: 0.7
    .scroll-up
        position: absolute
        top: -10px
        right: 0
        z-index: 5
        font-size: 16px
        color: #fff
        cursor: pointer
        display: flex
        align-items: flex-end
        +res('tab')
            right: 15px
            top: -20px
        +res('mob')
            right: 10px
            top: 30px
        @keyframes linesAmination2
            0%
                transform: translateY(200%)
            50%
                transform: translateY(20%)
            99.999%
                transform: translateY(-200%)
            100%
                transform: translateY(200%)
        .lines-wrapper
            position: absolute
            right: 0
            bottom: calc(100% + 10px)
            height: 80px
            width: 20px
            z-index: 2
            overflow: hidden
        .line
            position: absolute
            width: 1px
            bottom: 35px
            right: 0
            height: 60px
            background-color: #fff
            animation: linesAmination2 2s ease
            animation-iteration-count: infinite
            &:nth-of-type(1)
                right: 10px
                bottom: 25px
                animation-delay: 0.1s
