.container
    width: 1280px
    position: relative
    margin: 0 auto
    max-width: 100%
    +res('desk')
        width: 1160px
    +res('tab')
        padding: 0 15px
    +res('mob')
        padding: 0 10px
.container-half
    width: 640px
    height: 100vh
    max-width: 50%
    +res('desk')
        width: 580px
    +res('tab')
        width: 100%
        max-width: 100%
        height: 80vh
    +res('mob')
        width: 100%
        max-width: 100%
        height: 50vh