@keyframes fadeInDown
    0%
        opacity: 0
    100%
        opacity: 1
.header
    position: fixed
    z-index: 999
    width: 100%
    -webkit-transform: translate3d(0,0,0)
    transition: background-color .5s, transform .5s
    height: 80px
    transform: translateY(35px)
    transition-delay: 0s !important
    //opacity: 0
    //animation: fadeInDown 0.5s ease
    //animation-delay: 0.5s
    //animation-fill-mode: forwards
    //padding-top: 10px
    &:before
        content: ''
        width: 100%
        height: 80px
        top: 0
        left: 0
        background-color: #fff
        -webkit-transform: translate3d(0,0,0)
        transform: translateY(-115px) translateZ(-1px)
        position: absolute
        transition: .5s
        transition-delay: 0s !important
        z-index: -5
    &.header_hide
        transform: translateY(-100%)
    & > .container
        height: 100%
        display: flex
        position: relative
        justify-content: space-between
        align-items: center
        z-index: 99

    svg:nth-of-type(1)
        height: 140px
        width: 90px
        fill: #fff
        transition: 0.3s
        +res('mob')
            height: 90px
    .logo-simple
        width: 85px
        height: 26px
        top: 25px
        left: 0
        position: absolute
        opacity: 0
        transition: 0.3s
        fill: green
        //transform: scaleY(0)
        +res('tab')
            left: 15px
        +res('mob')
            left: 10px
            top: 25px
    .burger
        text-decoration: none
        display: flex
        align-items: center
    .text
        color: #fff
    .icon-menu-wrapper
        position: relative
        margin-left: 20px
        width: 45px
        height: 54px
        //transform: scaleX(-1)
    .nav
        position: absolute
        left: 0
        top: -35px
        z-index: 98
        width: 100%
        height: 100vh
        background: rgb(101,66,152)
        background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
        background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
        background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654298', endColorstr='#e12267',GradientType=1 )
        transition: .5s
        transform: translateX(100%)
        transform-origin: right
        max-width: 100%
        @keyframes fadeDown
            0%
                opacity: 1
            100%
                opacity: 0

        li
            opacity: 0
            animation: fadeDown 0.5s ease
            animation-fill-mode: forwards
        .container
            padding-top: 210px
            +res('desk')
                padding-top: 165px
            +res('mob')
                padding-top: 125px
        .top
            display: flex
            margin-bottom: 80px
            +res('desk')
                margin-bottom: 40px
            +res('tab')
                flex-wrap: wrap
            +res('mob')
                flex-direction: column
                margin: 0
            .left
                width: 870px
                +res('mob')
                    max-width: 100%
                & > a
                    opacity: 0
                    animation: fadeDown 0.5s ease
                    animation-fill-mode: forwards
                    display: block
                    color: #fff
                    font-size: 30px
                    line-height: 50px
                    text-decoration: none
                    border-bottom: 1px solid #fff
                    padding-bottom: 10px
                    +res('tab')
                        font-size: 26px
                        line-height: 32px
                    +res('mob')
                        display: block
                        font-size: 22px
                        line-height: 35px
                        border-bottom: none
                        padding-bottom: 0
                .list-wrapper
                    display: flex
                    justify-content: space-between
                    padding-top: 30px
                    +res('tab')
                        padding-top: 15px
                    +res('mob')
                        flex-direction: column
                        display: none
                    & > ul
                        min-width: 295px
                        padding-right: 60px
                        li:nth-of-type(1)
                            font-size: 22px
                            line-height: 38px
                            color: #fff
                            margin-bottom: 30px
                            min-height: 38px
                            font-family: 'ApercuBold'
                            +res('tab')
                                font-size: 18px
                                margin-bottom: 15px
                            +res('mob')
                                margin: 0
                        +res('tab')
                            padding-right: 25px
                            min-width: 215px
                        +res('mob')
                            &:last-of-type
                                li
                                    display: none
                    & > div
                        width: 100%
                        .wrapper
                            display: flex
                            justify-content: flex-start
                            ul
                                margin-right: 50px
                                display: flex
                                flex-wrap: wrap
                                li
                                    width: 50%
                        & > a
                            opacity: 0
                            animation: fadeDown 0.5s ease
                            animation-fill-mode: forwards
                            display: block
                            text-decoration: none
                            color: #fff
                            font-size: 22px
                            line-height: 38px
                            color: #fff
                            margin-bottom: 30px !important
                            min-height: 38px
                            font-family: 'ApercuBold'
                            +res('tab')
                                font-size: 18px
                                margin-bottom: 15px
                            +res('mob')
                                margin: 0
                        +res('tab')
                            padding-top: 53px

                    li:not(:nth-of-type(1))
                        +res('mob')
                            display: none
                    li
                        font-size: 13px
                        font-family: 'Roboto'
                        line-height: 20px
                        margin-bottom: 15px
                        +res('tab')
                            margin-bottom: 10px
                        a
                            color: #fff
                            text-decoration: none
                            transition: .3s
                            +res('desk-min')
                                &:hover
                                    opacity: 0.7
                            +res('mob')
                                font-size: 22px

            .right
                padding-left: 60px
                +res('tab')
                    padding-left: 0
                +res('mob')
                    padding-left: 0
                li:nth-of-type(1)
                    font-size: 30px
                    line-height: 50px
                    color: #fff
                    margin-bottom: 10px
                    +res('tab')
                        font-size: 26px
                        line-height: 32px
                    +res('mob')
                        font-size: 22px
                        line-height: 35px
                        margin: 0
                li:not(:nth-of-type(1))
                    +res('mob')
                        display: none
                li
                    &:nth-of-type(1)
                        a
                            font-size: 30px
                            line-height: 50px
                    a
                        color: #fff
                        text-decoration: none
                        font-size: 22px
                        line-height: 38px
                        transition: .3s
                        +res('desk-min')
                            &:hover
                                opacity: 0.7
                        +res('tab')
                            font-size: 18px
                            line-height: 30px
                        +res('mob')
                            line-height: 35px
        .bottom
            ul
                width: 100%
                display: flex
                justify-content: space-between
                +res('mob')
                    flex-direction: column
                    width: 100%
                    justify-content: flex-start
                li
                    font-family: 'ApercuBold'
                    font-size: 30px
                    line-height: 60px
                    +res('mob')
                        font-size: 22px
                        line-height: 35px
                    a
                        text-decoration: none
                        color: #fff
                        transition: .3s
                        +res('desk-min')
                            &:hover
                                opacity: 0.7
                    +res('tab')
                        font-size: 26px
                        line-height: 50px
        &.nav-open
            transform: translateX(0)
            transform-origin: right
            .top .left .list-wrapper > div > a
                animation: fadeUp 0.5s ease
                animation-fill-mode: forwards
                animation-delay: 0.7s
            .top .left > a
                animation: fadeUp 0.5s ease
                animation-fill-mode: forwards
                animation-delay: 0.5s
            li
                animation: fadeUp 0.5s ease
                animation-fill-mode: forwards
                animation-delay: 0.7s
    &.active
        //padding-top: 0
        //background-color: rgba(255,255,255,1)
        transform: translateY(0)
        transition-delay: 0s !important
        &:before
            transform: translateY(0)
            transition-delay: 0s !important
        //& > .container
        //    max-height: 80px
        .nav
            top: 0
        .text
            color: #171617
        svg:nth-of-type(1)
            opacity: 0
            //transform: scaleY(0)
        .logo-simple
            opacity: 1
            //transform: scaleY(1)
    &.active-sub
        +res('mob')
            height: 80px
            transform: translateY(10px)
        .text
            color: #171617
        .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7
            fill: #ea2066 !important
    &.active-sub-open
        transform: translateY(0)
        transition-delay: 0s !important
        +res('mob')
            transform: translateY(0)
        &:before
            transform: translateY(0)
            transition-delay: 0s !important
        svg:nth-of-type(1)
            opacity: 0
        .logo-simple
            opacity: 1
