.impact
    padding-top: 80px
    padding-bottom: 75px
    background: rgb(250,252,252)
    background: -moz-linear-gradient(left, rgba(250,252,252,1) 0%, rgba(223,236,235,1) 100%)
    background: -webkit-linear-gradient(left, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
    background: linear-gradient(to right, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfc', endColorstr='#dfeceb',GradientType=1 )
    .title
        //margin-bottom: 35px
        padding-bottom: 35px
    +res('mob')
        padding-top: 40px
    .items
        display: flex
        align-items: flex-start
        +res('mob')
            flex-direction: column
        .item
            width: 33.333333%
            +res('tab')
                padding-right: 15px
            +res('mob')
                width: 100%
            .item__title, .item__desc
                max-width: 290px
            .item__title
                font-family: 'ApercuBold'
                font-size: 22px
                line-height: 26px
                margin-bottom: 15px
            .item__desc
                font-size: 13px
                line-height: 20px
                color: #171617
                +res('mob')
                    margin-bottom: 35px
            .icon
                width: 74px
                height: 106px
                margin-bottom: 20px
            &:nth-of-type(1), &:nth-of-type(2)
                .icon
                    width: 60px