.intro
    width: 100%
    height: 100vh
    //background: rgb(101,66,152)
    //background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
    //background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
    //background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654298', endColorstr='#e12267',GradientType=1 )
    overflow: hidden
    position: relative
    z-index: 2
    +res('tab')
        background: rgb(101,66,152)
        background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
        background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
        background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654298', endColorstr='#e12267',GradientType=1 )
        height: 97vh
    +res('mob')
        background: rgb(101,66,152)
        background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
        background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
        background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654298', endColorstr='#e12267',GradientType=1 )
        height: 97vh
    .backgroundCanvas
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
    .container
        display: flex
        align-items: center
        +res('mob')
            min-height: 100%
            align-items: flex-end
            padding-bottom: 75px
    .left-wrapper
        width: 50%
        height: 100vh
        +res('mob')
            position: absolute
            width: 100%
            bottom: 0
    @keyframes fadeUp
        0%
            transform: translateY(80px)
            opacity: 0
        100%
            transform: translateY(0)
            opacity: 1
    .right
        width: 50%
        +res('mob')
            width: 100%
        .title
            max-width: 440px
            margin-bottom: 35px
            opacity: 0
            +res('mob')
                margin-bottom: 25px
        .desc
            max-width: 495px
            opacity: 0
        &.animationStart
            .title
                animation: fadeUp 0.5s ease
                animation-delay: 1s
                animation-fill-mode: forwards
            .desc
                animation: fadeUp 0.5s ease
                animation-delay: 1.2s
                animation-fill-mode: forwards
        +res('tab')
            padding-left: 20px
    .scroll
        text-decoration: none
        position: absolute
        right: 0
        bottom: 0px
        z-index: 1
        transform: rotate(90deg)
        transform-origin: top right
        color: #fff
        font-size: 16px
        display: flex
        align-items: center
        opacity: 0
        transition: .8s
        transition-delay: 1s
        +res('tab')
            right: 15px
            bottom: 20px
        +res('mob')
            display: none
        @keyframes linesAmination
            0%
                transform: translateX(-120%)
            50%
                transform: translateX(0)
            99.999%
                transform: translateX(120%)
            100%
                transform: translateX(-120%)
        .lines-wrapper
            position: relative
            margin-left: 15px
            width: 70px
            overflow: hidden
            height: 20px
        .line
            width: 60px
            position: absolute
            left: 0
            top: 10px
            height: 1px
            background-color: #fff
            margin-left: 5px
            animation: linesAmination 2s ease
            animation-iteration-count: infinite
            &:nth-of-type(1)
                top: 15px
                left: 10px
                animation-delay: 0.5s
        &.animationStart
            opacity: 1


