.preloader
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 999
    height: 100vh
    transform-origin: top
    max-width: 100vw
    overflow: hidden
.loaded
    transition: 1s
    transform: translateY(-100%)
    transform-origin: top