@keyframes trUp
    0%
        transform: translateY(100%) translateZ(1000px)
    100%
        transform: translateY(0) translateZ(1000px)
@keyframes trDown
    0%
        transform: translateY(0) translateZ(1000px)
    100%
        transform: translateY(100%) translateZ(1000px)
.privacy
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    height: 140px
    pointer-events: all
    background-color: #2e2d2e
    z-index: 9999
    overflow: hidden
    padding-top: 40px
    -webkit-transform: translate3d(0,0,0)
    -webkit-transform: translateZ(0px)
    transform: translateY(100%) translateZ(1000px)
    animation: trUp 0.5s ease-in-out
    animation-delay: 3s
    animation-fill-mode: forwards
    transform-style: preserve-3d
    +res('tab')
        height: auto
        padding-bottom: 20px
    +res('mob')
        height: auto
    &.is-close
        animation: trDown 0.5s ease-in-out
        animation-fill-mode: forwards
    .container
        display: flex
        position: relative
        +res('mob')
            flex-direction: column
        .close-btn
            position: absolute
            right: 0
            top: 0
            display: block
            width: 25px
            height: 25px
            transition: .3s
            svg
                width: 100%
                height: 100%
            .cls-16
                fill: #fff !important
                stoke-width: 1px
            +res('desk-min')
                &:hover
                    opacity: 0.7
            +res('tab')
                right: 15px
                top: -20px
                width: 15px
                height: 15px
            +res('mob')
                width: 15px
                height: 15px
                top: -25px
                right: 15px
        .left
            width: 60%
            +res('mob')
                width: 100%
                margin-bottom: 35px
            .top
                p
                    color: #fefefe
            .bottom
                padding-top: 20px
                a
                    text-decoration: none
                    color: #e52165
                    position: relative
                    transition: .3s
                    &:before
                        content: ''
                        width: 100%
                        height: 1px
                        background-color: #e52165
                        position: absolute
                        left: 0
                        bottom: 0
                    +res('desk-min')
                        &:hover
                            opacity: 0.7
        .right
            width: 40%
            +res('mob')
                width: 100%
                display: flex
                justify-content: center
                margin-bottom: 20px
            .accept-btn
                display: block
                width: 225px
                height: 80px
                +res('tab')
                    float: right
                    margin-right: 15px