.reviews
    background: rgb(250,252,252)
    background: -moz-linear-gradient(left, rgba(250,252,252,1) 0%, rgba(223,236,235,1) 100%)
    background: -webkit-linear-gradient(left, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
    background: linear-gradient(to right, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfc', endColorstr='#dfeceb',GradientType=1 )
    padding-top: 80px
    overflow: hidden
    +res('mob')
        padding-top: 40px
    .container
        display: flex
        +res('tab')
            flex-direction: column
        +res('mob')
            flex-direction: column
    .title
        min-width: 290px
        +res('mob')
            margin-bottom: 35px
    .items
        display: flex
        flex-direction: column
        max-width: calc(100% - 290px)
        +res('tab')
            padding-top: 50px
            max-width: 100%
        +res('mob')
            max-width: 100%
    .item
        display: flex
        margin-bottom: 70px
        +res('mob')
            flex-direction: column
            margin-bottom: 60px
        .left
            min-width: 290px
            text-align: left
            p
                max-width: 180px
                &.title
                    font-size: 22px
                    line-height: 26px
                    margin-bottom: 15px
                &.text
                    font-size: 13px
                    line-height: 20px
                    color: #171617
            +res('tab')
                min-width: 290px
        .logo
            max-width: 200px
            margin-bottom: 25px
            img
                max-width: 100%
                max-height: 70px
                filter: grayscale(1)
                opacity: 0.7
        svg
            max-width: 100%
            max-height: 40px
        .right
            .text
                font-size: 15px
                line-height: 26px
                color: #171617