.slider
    height: 100vh
    position: relative
    overflow: hidden
    background: rgb(245,249,249)
    background: -moz-linear-gradient(left, rgba(245,249,249,1) 0%, rgba(218,233,233,1) 100%)
    background: -webkit-linear-gradient(left, rgba(245,249,249,1) 0%,rgba(218,233,233,1) 100%)
    background: linear-gradient(to right, rgba(245,249,249,1) 0%,rgba(218,233,233,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9f9', endColorstr='#dae9e9',GradientType=1 )
    @media only screen and (max-height: 760px)
        height: 125vh
    +res('tab')
        overflow: hidden
    +res('mob')
        overflow: hidden
        height: auto
    .container
        position: relative
        height: 100vh
        display: flex
        align-items: flex-end
        @media only screen and (max-height: 760px)
            height: 125vh
        +res('mob')
            height: auto
            min-height: 100vh
            flex-direction: column
        .short-desc
            max-width: 290px
            height: 100vh
            display: flex
            flex-direction: column
            justify-content: center
            position: absolute
            left: 0
            top: 0
            z-index: 5
            .title
                margin-bottom: 35px
            .text
                color: #171617
            +res('desk')
                padding-bottom: 115px
            +res('tab')
                justify-content: flex-start
                padding: 0 15px
                padding-top: 75px
                max-width: 50%
            +res('mob')

                width: 100%
                max-width: 100%
                padding-top: 40px
                height: auto
                position: relative
                margin-bottom: 230px
                .title
                    margin-bottom: 30px
            @media only screen and (max-width: 1199px) and (min-width: 768px) and (orientation: landscape)
                justify-content: center
                padding-top: 0
    .graph-wrapper
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        &:before
            content: 'solutions'
            position: absolute
            left: 50%
            top: calc(50% - 50px)
            transform: translateX(-50%) translateY(-50%)
            font-size: 220px
            letter-spacing: 10px
            font-weight: 900
            z-index: -1
            color: rgba(0,0,0,0.05)
            +res('desk')
                top: 50%
            +res('tab')
                display: none
            +res('mob')
                display: none
        canvas
            position: relative
            @media only screen and (min-width: 1920px)
                bottom: 80px
            @media only screen and (max-width: 1280px)
                top: 26px
        +res('desk')
            height: 70%
        +res('tab')
            top: 14%
        +res('mob')
            height: 100vh
            //top: 100px
        @media only screen and (max-width: 1199px) and (min-width: 768px) and (orientation: landscape)
            top: 5%
            left: auto
            right: -25%
    .button-wrapper
        position: absolute
        top:  50%
        left: 0
        z-index: 2
    .slider-thumb
        height: 260px
        width: 100%
        position: relative
        bottom: 0
        z-index: 5
        margin: 0 auto
        max-width: 855px
        counter-reset: sliderBefore
        +res('desk')
            height: 215px
        +res('tab')
            max-width: calc(100% - 200px)
        +res('mob')
            max-width: 100%
            padding: 0 70px
        &:before
            content: ''
            width: 150vw
            position: absolute
            left: -50vw
            top: 20px
            height: 1px
            background-color: #fff
        .slider-item
            width: 25%
            height: 100%
            transition: transform .5s
            position: relative
            +res('tab')
                width: 50%
            +res('mob')
                width: 100%
            .sliderValue
                position: absolute
                top: -30px
                left: 0
                font-family: 'ApercuBold'
                font-size: 80px
                letter-spacing: -0.5px
                z-index: -1
                font-weight: 900
                transition: .5s
                opacity: 0
                color: #c2c2c2
                +res('mob')
                    display: none
            .title
                font-size: 22px
                line-height: 26px
                max-width: 135px
                margin-bottom: 15px
                transition: .5s
            .desc
                font-size: 13px
                line-height: 20px
                color: #171617
                max-width: 170px
                +res('mob')
                    max-width: 100%

            &.is-selected
                transform: translateY(-45px)
                .sliderValue
                    opacity: 0.3
                    transform: translateY(-15px)
                .title
                    color: #32b4d4
                +res('desk')
                    transform: translateY(-25px)
        .flickity-viewport
            //padding-left: 25%
            padding-top: 80px
            +res('desk')
                padding-top: 60px
        .flickity-button
            position: absolute
            width: 85px
            height: 55px
            +res('mob')
                width: 65px
                height: 40px
            &.previous
                left: -19%
                top: 75px
                +res('tab')
                    left: -95px
                +res('mob')
                    left: -15px
            &.next
                right: -17%
                top: 75px
                +res('tab')
                    right: -95px
                +res('mob')
                    right: 5px
