.talk
    background: rgb(97,67,153)
    background: -moz-linear-gradient(left, rgba(97,67,153,1) 0%, rgba(144,55,134,1) 51%, rgba(229,33,101,1) 100%)
    background: -webkit-linear-gradient(left, rgba(97,67,153,1) 0%,rgba(144,55,134,1) 51%,rgba(229,33,101,1) 100%)
    background: linear-gradient(to right, rgba(97,67,153,1) 0%,rgba(144,55,134,1) 51%,rgba(229,33,101,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614399', endColorstr='#e52165',GradientType=1 )
    padding: 75px 0 0 0
    overflow: hidden
    cursor: pointer
    +res('mob')
        padding: 40px 0
    .container
        display: flex
        +res('mob')
            flex-direction: column
    .left
        width: 870px
        position: relative
        min-height: 240px
        +res('mob')
            max-width: 100%
            min-height: 280px
            margin-bottom: 15px
        .holder
            position: absolute
            top: 0
            left: 0
            transition: .5s
            .text
                margin-bottom: 35px
            .title
                font-size: 54px
                line-height: 54px
                color: #fff
                +res('tab')
                    font-size: 30px
                    line-height: 34px
                +res('mob')
                    font-size: 24px
                    line-height: 32px
        .form
            position: absolute
            top: 0
            left: 0
            opacity: 0
            transform: translateY(-200px)
            visibility: hidden
            transition: .5s
            display: flex
            justify-content: space-between
            width: 100%
            padding-right: 25px
            +res('tab')
                flex-direction: column
            +res('mob')
                flex-direction: column
                padding: 0
            .title
                font-size: 54px
                line-height: 54px
                color: #fff
                +res('tab')
                    margin-bottom: 25px
                    font-size: 30px
                    line-height: 34px
                +res('mob')
                    margin-bottom: 25px
                    font-size: 24px
                    line-height: 32px
            .form-fields
                display: flex
                flex-direction: column
                .input-field
                    position: relative
                    margin-bottom: 25px
                label
                    position: absolute
                    top: 0
                    left: 0
                    color: #fff
                    transition: .3s
                    &.active
                        top: -15px
                input
                    width: 290px
                    height: 30px
                    background-color: transparent
                    border: none
                    outline: none
                    border-bottom: 1px solid #fff
                    color: #fff
                    padding-left: 10px
                    +res('mob')
                        width: 100%
    .right
        min-width: 290px
        display: flex
        align-items: center
        min-height: 100%
        position: relative
        .form-shapes
            width: 230px
            height: 55px
            //top: calc( 50% - 27px)
            top: 60px
            position: absolute
            left: 60px
            transition: .5s
            +res('mob')
                top: calc( 50% - 75px)
                left: 50%
                transform: translateX(-50%)
        .btn-send
            width: 230px
            top: calc(50% - 40px)
            position: absolute
            height: 80px
            left: 0
            opacity: 0
            transform: translateY(-200px)
            visibility: hidden
            transition: .5s
            +res('mob')
                top: auto
                bottom: 0
                transform: translateX(-50%)
                left: 50%
    &.is-active
        cursor: auto
        .left
            .holder
                opacity: 0
                transform: translateY(200px)
                visibility: hidden
            .form
                opacity: 1
                transform: translateY(0)
                visibility: visible
        .right
            .form-shapes
                opacity: 0
                transform: translateY(200px)
                visibility: hidden
            .btn-send
                opacity: 1
                transform: translateX(0)
                visibility: visible
                +res('mob')
                    transform: translateX(-50%)
