.uikit__h1
    font-family: 'ApercuBold'
    font-size: 54px
    line-height: 54px
    color: #fff
    +res('tab')
        font-size: 40px
        line-height: normal
    +res('mob')
        font-size: 30px
        line-height: 36px
.uikit__h2
    font-family: 'ApercuBold'
    font-size: 38px
    line-height: 38px
    color: #171617
    +res('tab')
        font-size: 30px
    +res('mob')
        font-size: 24px
        line-height: 38px
.uikit__h4
    font-family: 'ApercuBold'
    font-size: 22px
    line-height: 26px
    color: #fff
.uikit__p
    font-family: 'Roboto'
    font-size: 15px
    line-height: 26px
    color: #fff
    +res('mob')
        font-size: 13px
        line-height: 20px
