.icon-arrow_down {
  width: 1.6em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-client-1 {
  width: 1.82em;
  height: 1em;
  fill: #0050A6;
  stroke: initial;
}
.icon-client-10 {
  width: NaNem;
  height: 1em;
  fill: url(#f);
  stroke: initial;
}
.icon-client-11 {
  width: NaNem;
  height: 1em;
  fill: #2f4f5a;
  stroke: initial;
}
.icon-client-12 {
  width: NaNem;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-client-13 {
  width: NaNem;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-client-14 {
  width: NaNem;
  height: 1em;
  fill: #b8dccc;
  stroke: initial;
}
.icon-client-2 {
  width: 2.11em;
  height: 1em;
  fill: url(#c);
  stroke: initial;
}
.icon-client-4 {
  width: 0.57em;
  height: 1em;
  fill: #1d9f9e;
  stroke: initial;
}
.icon-client-5 {
  width: NaNem;
  height: 1em;
  fill: #807f83;
  stroke: initial;
}
.icon-client-6 {
  width: 2.88em;
  height: 1em;
  fill: #004894;
  stroke: initial;
}
.icon-client-7 {
  width: NaNem;
  height: 1em;
  fill: #0491d1;
  stroke: initial;
}
.icon-client-8 {
  width: NaNem;
  height: 1em;
  fill: none;
  stroke: #f36f21;
}
.icon-client-9 {
  width: NaNem;
  height: 1em;
  fill: #08266e;
  stroke: initial;
}
.icon-cross {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-footer-logo-v {
  width: 4.66em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-header_logo_simple {
  width: 3.29em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo-color {
  width: 0.69em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo {
  width: 0.69em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vintage {
  width: 4.67em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
