mixin footer()
    footer.footer
        .container
            .block(data-aos="fade")
                a(href='./home.html')
                    +svg('logo-color')
                p.uikit__p Copyright © 2018.  All rights reserved.
            .block(data-aos="fade")
            .block(data-aos="fade")
                ul
                    li.link-item
                        a(href='./about.html') About
                    li.link-item
                        a(href='./solutions.html') Solutions
                    li.link-item
                        a(href='./contacts.html') Partners
                    li.link-item
                        a(href='./contacts.html') Sectors
            .block(data-aos="fade")
                ul
                    li.link-item
                        a(href='./contacts.html') Support
                    li.link-item
                        a(href='./contacts.html') Insights
                    li.link-item
                        a(href='./contacts.html') Legal
                a(href='http://vintage.com.ua/' target='_blank').vintage
                    p Made by
                    include ../../svg/footer-logo-v.svg
                .scroll-up
                    p.text scroll up
                    .lines-wrapper
                        .line
                        .line
