mixin header()
    header.header
        .container
            a(href='./home.html')(style="font-family: 'ApercuBold';")
                include ../../svg/logo-color.svg
                +svg('header_logo_simple', 'logo-simple')
            a(href='#').burger
                p.text menu
                .icon-menu-wrapper
        .nav
            .container
                .top
                    .left
                        a(href='./solutions.html') Solutions
                        .list-wrapper
                            ul
                                li
                                    a Service Assurance
                                li
                                    a(href='./product.html') Fraud Prevention
                                li
                                    a(href='./product-2.html') Registered device protection
                                li
                                    a Next Gen Voice Mail
                                li
                                    a(href='./product-3.html') Next Generation IN
                                li
                                    a WebRTC
                                li
                                    a Content discovery
                            div
                                a(href='#').title-sub-menu
                                    |Cloud Connect Contact Centre
                                .wrapper
                                    ul
                                        li
                                            a Telsis Cloud Connect Overview
                                        li
                                            a Omnichannel
                                        li
                                            a Inbound Features
                                        li
                                            a Workforce Management
                                        li
                                            a Call Features
                                        li
                                            a Integration and APIs
                                        li
                                            a Monitoring and Reporting
                                        li
                                            a Security and Compliance
                                        li
                                            a Analytics


                    .right
                        ul
                            li
                                a(href='./contacts.html') Sectors
                            li
                                a(href='./contacts.html') Operators
                            li
                                a(href='./contacts.html') Enterprise
                            li
                                a(href='./contacts.html') Broadcasters and Content

                .bottom
                    ul
                        li
                            a(href='./about.html') Partners
                        li
                            a(href='./about.html') About
                        li
                            a(href='./about.html') Support
                        li
                            a(href='./about.html') Insights
                        li
                            a(href='./contacts.html') Contacts
