mixin privacy
    .privacy
        .container
            a(href='#').close-btn
                include ../../svg/cross.svg
            .left
                .top
                    p.uikit__p This website uses cookies. By continuing to use this website you agree with our privacy policy.
                .bottom
                    a(href='#') Legal
            .right
                a(href='#').accept-btn