extends ../extend/default_sub

block variables
    - var title = 'About';

block main
    main.content(data-page='about')
        +privacy
        section.intro_about
            .canvas-wrapper-about(data-aos="fade-up")
            .container.intro_about__wrap
                h4(data-aos="fade-right").uikit__h4.intro_about__uppertitle About
                h1(data-aos="fade-right" data-aos-delay="100").uikit__h1.intro_about__title A New Dawn for Digital Experiences
                .intro_about__col
                    .intro_about__col-content
                        h2(data-aos="fade-right" data-aos-delay="200").intro_about__col-title.uikit__h2 Fertile New Landscape
                        p(data-aos="fade-right" data-aos-delay="300").intro_about__col-description.uikit__p The world has changed. Your customers assume that you have too. Our disruptive technology coupled with consumer insights and services, allows companies around the world to go beyond expectations.
                        p(data-aos="fade-right" data-aos-delay="400").intro_about__col-description.uikit__p Our track record is underpinned by a core philosophy: we identify what your customers want and adapt to deliver customised solutions that leverages innovative technology across multiple channels.
                        p(data-aos="fade-right" data-aos-delay="400").intro_about__col-description.uikit__p It’s that simple. Real results that are delivered thanks to data and customer centric thinking.
                .intro_about__col
                    .intro_about__col-content
                        h2(data-aos="fade-right").intro_about__col-title.uikit__h2 Our Approach
                        p(data-aos="fade-right").intro_about__col-description.uikit__p We provide your company with transformation at speed. The velocity you need to grow your business. Our carrier-grade solutions enrich communications, proactively manage fraud, secure revenues and transform network performance, and streamline metadata content distribution.
                        p(data-aos="fade-right").intro_about__col-description.uikit__p Our three pillared approach encompasses Service Management, the Cloud Contact Centre and Content Discovery. Our products are designed and developed in the UK and Germany. We have served 90+ customers in 45 countries and successfully delivered 1,500+ projects in the last 31 years and have a presence in Europe, Middle East, Africa and Latin America.
        section.vision_about
            .vision_about__img
                img(src="static/img/vision_img.jpg" data-aos="fadeIn").vision_about__img-foto
            .container.vision_about__wrap
                .vision_about__col
                    .vision_about__col-content
                        h2(data-aos="fade-right").vision_about__col-title.uikit__h2 Our Vision
                        p(data-aos="fade-up").vision_about__col-description.uikit__p We successfully secure and optimise seamless digital consumer journeys for our customers. We do this by envisioning tomorrow’s world, today.
                        p(data-aos="fade-up").vision_about__col-description.uikit__p Telsis is driven by progress. We work tirelessly to provide cutting-edge solutions that are tailored to meet our customers’ needs.
                        p(data-aos="fade-up").vision_about__col-description.uikit__p Telsis. Behaviours Shift. Stay Ahead.
        section.team_about
            .container.team_about__wrap
                h2(data-aos="fade-right").uikit__h2.team_about__title Management Team
                .team_about__team
                    div(data-aos="fade-right" data-aos-delay="100").team_about__col
                        .team_about__col-content
                            h4.uikit__h4.team_about__col-name Bhavesh Parmar
                            p.uikit__p.team_about__col-position Chief Executive Officer
                            p.uikit__p.team_about__col-description Bhavesh is responsible for building all aspects of Telsis’ presence in Europe, the Middle East and Africa. With over 20 years experience, he has worked at a number of venture-backed startups, including Mobile Systems International (later acquired by Ericsson), Innowireless (Kosdaq) and Spire Technology Inc.
                    div(data-aos="fade-right" data-aos-delay="200").team_about__col
                        .team_about__col-content
                            h4.uikit__h4.team_about__col-name Christopher Mead
                            p.uikit__p.team_about__col-position Chief Technology Officer
                            p.uikit__p.team_about__col-description Chris creates, communicates and executes Telsis’ range of software solutions. Chris has lead the architectural design of Telsis service management and Contact Centre platforms through every major release. He has vast experience in the agile development of cloud applications and enterprise segments.
                    div(data-aos="fade-right" data-aos-delay="300").team_about__col
                        .team_about__col-content
                            h4.uikit__h4.team_about__col-name Graham Moore
                            p.uikit__p.team_about__col-position Chief Product and Operations
                            p.uikit__p.team_about__col-description Graham is responsible for the operations and strategic planning. He has more than 20 years of multi-disciplinary experience in the telecoms industry, working with operators including Vodafone, Telefonica, EE and British Telecom. Graham been instrumental in launching Telency, Telsis’ unified comms offering.
                    div(data-aos="fade-right" data-aos-delay="400").team_about__col
                        .team_about__col-content
                            h4.uikit__h4.team_about__col-name Peter Ritzmann
                            p.uikit__p.team_about__col-position Managing Director
                            p.uikit__p.team_about__col-description Peter joined Telsis in 1997 and is responsible for growth in Germany and the Dach region. Peter’s 20 year career in mobile and fixed-line telecommunications has provided him a deep understanding of SaaS market models, customer requirements, next gen-enabling software and the cloud-based business models.
        section.form_about
            .talk
                .container
                    .left
                        .holder
                            p.text.uikit__p(data-aos="fade-right") Discover today how Telsis can transform your business
                            p.title(data-aos="fade-up")
                                | Get in touch
                        form.form(data-aos="fade-up")
                            p.title
                                | Get in touch
                            .form-fields
                                .input-field
                                    input(id='name' required)
                                    label(for='name') name
                                .input-field
                                    input(id='email' required)
                                    label(for='email') e-mail
                                .input-field
                                    input(id='phone' required)
                                    label(for='phone') phone
                                input(type='submit' id='submitBtn' hidden)
                    .right(data-aos="fade-left")
                        .form-shapes
                        .btn-send