extends ../extend/default_sub

block variables
    - var title = 'Contact page';

block main
    main.content(data-page='contacts')
        +privacy
        .intro_contacts
            .container.intro_contacts__wrap
                .intro_contacts__location
                    h1(data-aos="fade-right").intro_contacts__title.uikit__h1 Contacts
                    .intro_contacts__location-wrap
                        .intro_contacts__location-col
                            h4(data-aos="fade-right" data-aos-delay="100").uikit__h4.intro_contacts__location-country United Kingdom
                            p(data-aos="fade-right" data-aos-delay="200").uikit__p.intro_contacts__location-address
                                span Telsis Communication Services Limited
                                span 6 Manor Court, Barnes Wallis Road
                                span Fareham, Hampshire. PO15 5TH
                            div(data-aos="fade-right" data-aos-delay="300").intro_contacts__location-entry
                                a(href="mailto: contactus@telsis.com" class="intro_contacts__location-email uikit__p") contactus@telsis.com
                                a(href="tel: +44 01489 760000" class="intro_contacts__location-tel uikit__p") +44 01489 760000
                        .intro_contacts__location-col
                            h4(data-aos="fade-right" data-aos-delay="400").uikit__h4.intro_contacts__location-country Deutschland
                            p(data-aos="fade-right" data-aos-delay="500").uikit__p.intro_contacts__location-address
                                span Telsis GmbH
                                br
                                span Robert-Bosch-Strasse 7
                                span 64293 Darmstadt
                            div(data-aos="fade-right" data-aos-delay="600").intro_contacts__location-entry
                                a(href="mailto: contactus@telsis.com" class="intro_contacts__location-email uikit__p") contactus@telsis.com
                                a(href="tel: +44 01489 760000" class="intro_contacts__location-tel uikit__p") +44 01489 760000
                        .intro_contacts__location-col
                            .intro_contacts__follow-wrap
                                p(data-aos="fade-right" data-aos-delay="700").uikit__p.intro_contacts__follow If you are a register Telsis user and want to raise a technical issue, please follow this
                                    a(href="https://portal.teamsupport.com/Telsis") link
                                p(data-aos="fade-right" data-aos-delay="800").uikit__p.intro_contacts__follow If you are not a register Telsis user please follow this
                                    a(href="https://ticket.teamsupport.com/Telsis") link
                .intro_contacts__right-wrap
                    div(data-aos="fadeIn" data-aos-delay="600").intro_contacts__canvas

        .form_contacts
            .container.form_contacts__wrap
                .form_contacts__col
                    h1(data-aos="fade-right" data-aos-anchor-placement="center").uikit__h1.form_contacts__col-title Get in touch
                    p(data-aos="fade-right" data-aos-delay="100" data-aos-anchor=".form_contacts").form_contacts__col-description.uikit__p If you have an interest in any of our platforms or solutions, have a problem that you think we can help with, or just want to find out more information, then please fill in the form below and one of our team will get back to you.
                .form_contacts__col
                    form.form
                        .form-fields
                            div(data-aos="fade-up" data-aos-delay="200" data-aos-anchor=".form_contacts").input-field
                                input(id='name' required name='name')
                                label(for='name') name
                            div(data-aos="fade-up" data-aos-delay="300" data-aos-anchor=".form_contacts").input-field
                                input(id='email' required name='email')
                                label(for='email') e-mail
                            div(data-aos="fade-up" data-aos-delay="400" data-aos-anchor=".form_contacts").input-field
                                input(id='phone' required name='phone')
                                label(for='phone') phone
                            div(data-aos="fade-up" data-aos-delay="500" data-aos-anchor=".form_contacts").input-field
                                input(id='message' required name='message')
                                label(for='message') message
                            //div(data-aos="fade-up" data-aos-delay="600" data-aos-anchor=".form_contacts").input-field
                            //    input(id='product' hidden)
                            //    div(data-aos="fade-up" data-aos-delay="700" data-aos-anchor=".form_contacts").dropdown_item
                            //        span.dropdown_item__text our products
                            //        .dropdown_item__arrow
                            //            img(src="static/img/arrow_down.png" class='arrow_img')
                            //        .dropdown_product
                            //            .dropdown_product__product engineering services
                            //            .dropdown_product__product service migration
                            //            .dropdown_product__product content discovery
                            //            .dropdown_product__product webRTC
                            //            .dropdown_product__product next gen voice mail
                            //            .dropdown_product__product next gen IN
                            //            .dropdown_product__product device protection
                            //            .dropdown_product__product fraud and revenue assurance
                            //            .dropdown_product__product contact centre
                            input(type='submit' id='submitBtn' hidden)
                        div(data-aos="fade-right" data-aos-delay="800" data-aos-anchor="top").right
                            .form-shapes

        +footer()
block footer