extends ../extend/default

block variables
    - var title = 'Home page';

block main
    main.content(data-page='home')
        .preloader
        +privacy
        .intro
            .backgroundCanvas
            .container
                .left-wrapper
                .right
                    h1.title.uikit__h1 Behaviours Shift. Stay Ahead
                    p.desc.uikit__p We design personalised solutions that optimise customer journeys. We deliver measurable results with disruptive technology that puts human interaction first.
                a(href='#').scroll
                    p.text scroll
                    .lines-wrapper
                        .line
                        .line
        .slider
            .container
                .short-desc
                    h2.title.uikit__h2(data-aos="fade-up") What We Do
                    p.text.uikit__p(data-aos="fade-right") Telsis creates innovative software that enables network operators, enterprises and broadcasters to stay ahead of competitors and enrich customers’ lives.
                .slider-thumb(data-aos="fade-up")
                    .slider-item
                        span.sliderValue
                        p.title.uikit__h2 Brand Protection
                        p.desc.uikit__p Secure revenue and minimise fraud losses by 99%
                    .slider-item
                        span.sliderValue
                        p.title.uikit__h2 Service Transformation
                        p.desc.uikit__p Launch new services 80% faster and optimise network capacity
                    .slider-item
                        span.sliderValue
                        p.title.uikit__h2 Customer Service
                        p.desc.uikit__p Personalised, omni-channel interactions to dramatically improve NPS
                    .slider-item
                        span.sliderValue
                        p.title.uikit__h2 Analytics
                        p.desc.uikit__p Drive meaningful consumer outcomes through interaction analytics and biometrics
                    .slider-item
                        span.sliderValue
                        p.title.uikit__h2 Artificial Intelligence
                        p.desc.uikit__p Automation to improve efficiency. Human interpretation to maintain quality
                    .slider-item
                        span.sliderValue
                        p.title.uikit__h2 Content Discovery
                        p.desc.uikit__p Putting metadata to work for platforms and content owners
            .graph-wrapper(data-aos="zoom-in")
        .services
            .popup-services

                .container
                    a(href='#').left.operatorsBtn.js-service-btn.active
                        span for operators
                    .content
                        .popup-inner.active.operatorsBlock
                            p.top-title for operators
                            p.title Service Assurance
                            p.text Network transformation tools that prevent fraud, deploy VAS, optimise network capacity and track device inventory seamlessly.
                            .bottom
                                .wrapper
                                    p Advanced CTI Routing
                                    p Reach the right person. Resolve issues. Faster.
                                .wrapper
                                    p CRM Integration
                                    p Supports all major CRMs along with our own custom CRM.
                                .wrapper
                                    p UX
                                    p A seamless experience that your customers will love
                                .wrapper
                                    p Carrier-grade PBX
                                    p Discover the benefits of the best communication flow
                                .wrapper
                                    p Analytics and Reporting
                                    p Make good decisions based on solid data.
                            a(href='./solutions.html').more-btn.more-btn-1
                            a(href='#').close-btn
                                include ../../svg/cross.svg
                        .popup-inner.enterpriseBlock
                            p.top-title for enterprise
                            p.title Cloud Contact Centre
                            p.text Scalable and efficient, the innovative platform tailored to meet the demands of both small and large enterprises.
                            .bottom
                                .wrapper
                                    p Scalable
                                    p Customise. Reduce costs. Ramp it
                                .wrapper
                                    p Resilient
                                    p Solutions that are designed to last.
                                .wrapper
                                    p Easy to Use
                                    p We put the user at the centre of everything we do. Make the complex simple.
                                .wrapper
                                    p TCO
                                    p We provide the perfect balance between costs, operations and ownership.
                            a(href='./solutions.html').more-btn.more-btn-2
                            a(href='#').close-btn
                                include ../../svg/cross.svg
                    a(href='#').right.enterpriseBtn.js-service-btn
                        span for enterprise


            .item-wrapper
                a(href='#').item.operatorsBtn.js-service-btn
                    .container-half
                        .content-wrapper(data-aos="fade-right")
                            .btn-service.js-operators-link
                            p.subtitle for operators
                            p.title Service Assurance
                            p.desc.uikit__p Network transformation tools that prevent fraud, deploy VAS, optimise network capacity and track device inventory seamlessly.
                a(href='#').item.enterpriseBtn.js-service-btn
                    .container-half
                        .content-wrapper(data-aos="fade-left")
                            .btn-service.js-enterprise-link
                            .subtitle for enterprise
                            .title Cloud Connect Contact Centre
                            .desc.uikit__p Scalable and efficient, the innovative platform tailored to meet the demands of both small and large enterprises.
        .impact
            .container
                .title.uikit__h2(data-aos="fade-right") Our Impact
                .items
                    .item(data-aos="fade-up")
                        .icon.figure1
                        .item__title Lucrative returns
                        .item__desc.uikit__p Remain in control of costs at every milestone and witness the impact on revenue.
                    .item(data-aos="fade-up" data-aos-delay='200')
                        .icon.figure2
                        .item__title Transformation
                        .item__desc.uikit__p Our VAS (value added service) is underpinned by innovative technology that guarantees scalability and operational efficiency.
                    .item(data-aos="fade-up" data-aos-delay='400')
                        .icon.figure3
                        .item__title Customer success
                        .item__desc.uikit__p We interpret the specific needs of our customers and deliver success every time. Without fail.
        .clients
            .container
                .title.uikit__h2(data-aos="fade-right") Our Clients
                .slider-clients
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-1.gif')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-2.gif')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-3.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-4.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-5.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-6.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-7.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-8.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-9.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-10.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-11.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-12.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-13.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-15.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-14.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-16.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                    .clients-slide
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-17.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
                        .clients-item(data-aos="zoom-out")
                            .img-container
                                img(src='static/img/c-18.png')
                            p.text.uikit__p We used the Telsis platform to control our voicemail system
        .reviews
            .container
                .title.uikit__h2(data-aos="fade-right") References
                .items
                    .item(data-aos="fade-left")
                        .left
                            .logo
                                img(src='static/img/vsenet-logo.svg')
                            p.title Joachim Scharf
                            p.text.uikit__p Project Manager, Vse Net
                        .right
                            p.text.uikit__p We knew it would be a challenge, but Telsis met our deadline and we in turn met all of our targets. The application server delivers all that we wanted from the first stage of this programme and we are now turning our attention to the next phase.
                    .item(data-aos="fade-left")
                        .left
                            .logo
                                img(src='static/img/neo.png')
                            p.title Javier Fernandez-Amigo
                            p.text.uikit__p CTO, Neo Sky, Spain
                        .right
                            p.text.uikit__p As it stands, the Telsis platform gives us far greater flexibility than the alternatives we were offered, and it also enables us to migrate to an IMS future in controlled stages with minimal risk. With the Telsis roadmap, we know how we will transition to IMS in logical, affordable steps that minimise risk both for us and for our customers.
                    .item(data-aos="fade-left")
                        .left
                            .logo
                                img(src='static/img/netcologne.svg')
                            p.title Frank Ewen
                            p.text.uikit__p Head of Switching and Voice, Netcologne
                        .right
                            p.text.uikit__p We evaluated five potential vendors before we decided to go with Telsis. The ability to run multiple simultaneous services in both old and new network domains was essential for us. We also wanted a platform with credible development path. Support for emergency call location was another must-have.
        .talk
            .container
                .left
                    .holder
                        p.text.uikit__p(data-aos="fade-right") Discover today how Telsis can transform your business
                        p.title(data-aos="fade-up")
                            |Get in touch
                    form.form(data-aos="fade-up")
                        p.title
                            |Get in touch
                        .form-fields
                            .input-field
                                input(id='name' required name='name')
                                label(for='name') name
                            .input-field
                                input(id='email' required name='email')
                                label(for='email') e-mail
                            .input-field
                                input(id='phone' required name='phone')
                                label(for='phone') phone
                            input(type='submit' id='submitBtn' hidden)
                .right(data-aos="fade-left")
                    .form-shapes
                    .btn-send







