extends ../extend/default_sub

block variables
    - var title = 'Product page';

block main
    main.content(data-page='product')
        +privacy
        .product
            .intro
                .container
                    .left
                        p.title.uikit__h1(data-aos="fade-up") Next Generation IN
                        p.desc.uikit__p(data-aos="fade-up" data-aos-delay='100') Flexibility of an IN-service node optimised for next generation networks
                        a(href='#' data-aos="fade-up" data-aos-delay='200').brochure-btn
                    .right
                        .canvas-wrapper-product
            .about
                .container
                    .text-wrapper
                        p.top(data-aos="fade-up") Operators have a large volume of services that are running on their legacy IN platforms.  As they migrate their networks to next generation technologies they need to migrate their services
                        p.bottom(data-aos="fade-up" data-aos-delay='100') to this new technology so that they are able to retire their legacy systems
            section.vision_about
                .container.vision_about__wrap
                    .vision_about__col
                        .vision_about__col-content
                            h2(data-aos="fade-right").vision_about__col-title.uikit__h2 Solution to asure continuity of services
                            p(data-aos="fade-up").vision_about__col-description.uikit__p Operators need to offer service continuity to their users in order to be able to migrate their network architecture.  If they are unable to offer consistent services, then they risk losing customers that rely on those service.
                            p(data-aos="fade-up").vision_about__col-description.uikit__p IN services are typically used by business customers, so it is essential that they do what they can to keep these high-value customers.
                .vision_about__img
                    img(src="static/img/vision_img.jpg" data-aos="fadeIn").vision_about__img-foto
            section.how
                .container
                    p.title.uikit__h2(data-aos="fade-right") How we solve the problem?
                    .items
                        .item(data-aos="fade-right" data-aos-delay='100')
                            p.text.uikit__p Our consultants help CTOs and CIOs understand their network and how their investment decisions impact business performance
                        .item(data-aos="fade-right" data-aos-delay='200')
                            p.text.uikit__p We jointly develop a migration plan focusing on how the next generation IN will be integrated into the network and services migrated to it
                        .item(data-aos="fade-right" data-aos-delay='300')
                            p.text.uikit__p Our world-leading delivery team will then assist with the migration of services working at your pace
            section.addition
                .container
                    p.title.uikit__h2(data-aos="fade-right") In addition
                    .items
                        .item(data-aos="fade-up" data-aos-delay='100')
                            img(src='static/img/pr-1.png')
                            p.text.uikit__p Lower project overhead due to simplified migration and on time delivery
                        .item(data-aos="fade-up" data-aos-delay='200')
                            img(src='static/img/pr-2.png')
                            p.text.uikit__p Significant power/footprint/support savings from the move to all IP NG COTS server solution
                        .item(data-aos="fade-up" data-aos-delay='300')
                            img(src='static/img/pr-3.png')
                            p.text.uikit__p An ultra-flexible solution that provides a powerful innovation capability
                        .item(data-aos="fade-up" data-aos-delay='400')
                            img(src='static/img/pr-4.png')
                            p.text.uikit__p Lower ongoing TCO for the new solution, driven by improved solution reliability
                        .item(data-aos="fade-up" data-aos-delay='500')
                            img(src='static/img/pr-5.png')
                            p.text.uikit__p Service continuity – customers migrated without any impact on their services
            section.get-brochure
                .container
                    .left
                        p.uikit__h1(data-aos="fade-right") Download a detailed brochure about this product
                    .right
                        a(href='#' data-aos="fade-right" data-aos-delay="100").get-brochure-btn
            .form_contacts
                .container.form_contacts__wrap
                    .form_contacts__col
                        h1(data-aos="fade-right" data-aos-anchor-placement="center").uikit__h1.form_contacts__col-title Get in touch
                        p(data-aos="fade-right" data-aos-delay="100" data-aos-anchor=".form_contacts").form_contacts__col-description.uikit__p Write them to us right now!
                    .form_contacts__col
                        form.form
                            .form-fields
                                div(data-aos="fade-up" data-aos-delay="200" data-aos-anchor=".form_contacts").input-field
                                    input(id='name' required name='name')
                                    label(for='name') name
                                div(data-aos="fade-up" data-aos-delay="300" data-aos-anchor=".form_contacts").input-field
                                    input(id='email' required name='email')
                                    label(for='email') e-mail
                                div(data-aos="fade-up" data-aos-delay="500" data-aos-anchor=".form_contacts").input-field
                                    input(id='message' required name='message')
                                    label(for='message') message
                                input(type='submit' id='submitBtn' hidden)
                            div(data-aos="fade-right" data-aos-delay="800" data-aos-anchor="top").right
                                .form-shapes



