extends ../extend/default_sub

block variables
    - var title = 'Product page';

block main
    main.content(data-page='product')
        +privacy
        .product
            .intro
                .container
                    .left
                        p.title.uikit__h1(data-aos="fade-up") Registered Device Protection (RDP)
                        p.desc.uikit__p(data-aos="fade-up" data-aos-delay='100') Protection against fraudulent use of residential VoIP identities
                        a(href='#' data-aos="fade-up" data-aos-delay='200').brochure-btn
                    .right
                        .canvas-wrapper-product
            .about
                .container
                    .text-wrapper
                        p.top(data-aos="fade-up") Running separate voice and data networks is expensive therefore many network operators are looking to combine both networks and
                        p.bottom(data-aos="fade-up" data-aos-delay='100') run voice services as just another data service.
            section.vision_about
                .container.vision_about__wrap
                    .vision_about__col
                        .vision_about__col-content
                            h2(data-aos="fade-right").vision_about__col-title.uikit__h2 Solution to Protect Your SIP Account
                            p(data-aos="fade-up").vision_about__col-description.uikit__p Network operator s need to protect their user’s SIP accounts in order to reduce unauthorised usage of their accounts either in the event that their devices have been resold to other users, or their account details have been stolen and are being used fraudulently.
                            p(data-aos="fade-up").vision_about__col-description.uikit__p Should their identifies be used to make unauthorised calls, then this will incur significant customer support costs to handle their billing enquiries
                .vision_about__img
                    img(src="static/img/vision_img.jpg" data-aos="fadeIn").vision_about__img-foto
            section.how
                .container
                    p.title.uikit__h2(data-aos="fade-right") How We Solve the Problem?
                    .items
                        .item(data-aos="fade-right" data-aos-delay='100')
                            p.text.uikit__p When a device attempts to register onto the SIP network, RDP captures these registration requests
                        .item(data-aos="fade-right" data-aos-delay='200')
                            p.text.uikit__p RDP integrates with back office data systems to apply business logic to the request, such as matching the originating IP address to the user’s home
                        .item(data-aos="fade-right" data-aos-delay='300')
                            p.text.uikit__p Once the business logic has been applied, RDP either authorises or blocks the registration request
            section.addition
                .container
                    p.title.uikit__h2(data-aos="fade-right") In addition
                    .items
                        .item(data-aos="fade-up" data-aos-delay='100')
                            img(src='static/img/pr-1.png')
                            p.text.uikit__p Reduces customer service costs associated with incorrect usage of a user’s account
                        .item(data-aos="fade-up" data-aos-delay='200')
                            img(src='static/img/pr-2.png')
                            p.text.uikit__p Uses IMS standards-based integration techniques
                        .item(data-aos="fade-up" data-aos-delay='300')
                            img(src='static/img/pr-3.png')
                            p.text.uikit__p Allows network operators to use their own business logic for determining if a registration should be allowed
                        .item(data-aos="fade-up" data-aos-delay='400')
                            img(src='static/img/pr-4.png')
                            p.text.uikit__p Network operators are able to benefit from savings associate with running a single network
                        .item(data-aos="fade-up" data-aos-delay='500')
                            img(src='static/img/pr-5.png')
                            p.text.uikit__p Other services may also be run on the same platform allowing operators to maximises the use of their investment
            section.get-brochure
                .container
                    .left
                        p.uikit__h1(data-aos="fade-right") Download a detailed brochure about this product
                    .right
                        a(href='#' data-aos="fade-right" data-aos-delay="100").get-brochure-btn
            .form_contacts
                .container.form_contacts__wrap
                    .form_contacts__col
                        h1(data-aos="fade-right" data-aos-anchor-placement="center").uikit__h1.form_contacts__col-title Get in touch
                        p(data-aos="fade-right" data-aos-delay="100" data-aos-anchor=".form_contacts").form_contacts__col-description.uikit__p Write them to us right now!
                    .form_contacts__col
                        form.form
                            .form-fields
                                div(data-aos="fade-up" data-aos-delay="200" data-aos-anchor=".form_contacts").input-field
                                    input(id='name' required name='name')
                                    label(for='name') name
                                div(data-aos="fade-up" data-aos-delay="300" data-aos-anchor=".form_contacts").input-field
                                    input(id='email' required name='email')
                                    label(for='email') e-mail
                                div(data-aos="fade-up" data-aos-delay="500" data-aos-anchor=".form_contacts").input-field
                                    input(id='message' required name='message')
                                    label(for='message') message
                                input(type='submit' id='submitBtn' hidden)
                            div(data-aos="fade-right" data-aos-delay="800" data-aos-anchor="top").right
                                .form-shapes



