extends ../extend/default_sub

block variables
    - var title = 'Product page';

block main
    main.content(data-page='product')
        +privacy
        .product
            .intro
                .container
                    .left
                        p.title.uikit__h1(data-aos="fade-up") Voice SafeGuard
                        p.desc.uikit__p(data-aos="fade-up" data-aos-delay='100') Comprehensive and scalable fraud prevention solution
                        a(href='#' data-aos="fade-up" data-aos-delay='200').brochure-btn
                    .right
                        .canvas-wrapper-product
            .about
                .container
                    .text-wrapper
                        p.top(data-aos="fade-up") Global fraud losses account for 1.7% of global telecom revenues. Of this, they estimated £7.5bn was due to International Revenue Share Fraud
                        p.bottom(data-aos="fade-up" data-aos-delay='100') making it the most common type of fraud.
            section.vision_about
                .container.vision_about__wrap
                    .vision_about__col
                        .vision_about__col-content
                            h2(data-aos="fade-right").vision_about__col-title.uikit__h2 Solution to Protect Your Network
                            p(data-aos="fade-up").vision_about__col-description.uikit__p Network Operators need to protect against these losses especially when surveys indicate that customers see fraud prevention as an increasingly important factor when deciding about their choice of network operator.
                            p(data-aos="fade-up").vision_about__col-description.uikit__p Telsis Voice SafeGuard offers a proven, industry leading solution to protect your network from fraud in real time before it becomes a costly problem
                .vision_about__img
                    img(src="static/img/vision_img.jpg" data-aos="fadeIn").vision_about__img-foto
            section.how
                .container
                    p.title.uikit__h2(data-aos="fade-right") How We Solve the Problem?
                    .items
                        .item(data-aos="fade-right" data-aos-delay='100')
                            p.text.uikit__p Voice SafeGuard monitors all international calls in real time
                        .item(data-aos="fade-right" data-aos-delay='200')
                            p.text.uikit__p If a fraudulent calling pattern is detected is raises and alert or optionally blocks the cal
                        .item(data-aos="fade-right" data-aos-delay='300')
                            p.text.uikit__p Should Voice SafeGuard identify fraudulent calls originating from a PBX or a SIP device, it can tear down other calls that are already in progress, stopping fraud immediately.
            section.addition
                .container
                    p.title.uikit__h2(data-aos="fade-right") In addition
                    .items
                        .item(data-aos="fade-up" data-aos-delay='100')
                            img(src='static/img/pr-1.png')
                            p.text.uikit__p Proactively blocks or tears down fraudulent calls in real-time (versus reactive checking of CDRs after the fraud event)
                        .item(data-aos="fade-up" data-aos-delay='200')
                            img(src='static/img/pr-2.png')
                            p.text.uikit__p Protects against International Revenue Share Fraud, Domestic Revenue Share Fraud, Premium Rate Fraud, Wholesale/Interconnect Fraud
                        .item(data-aos="fade-up" data-aos-delay='300')
                            img(src='static/img/pr-3.png')
                            p.text.uikit__p Ability to customise fraud thresholds by destination, country or carrier
                        .item(data-aos="fade-up" data-aos-delay='400')
                            img(src='static/img/pr-4.png')
                            p.text.uikit__p Strong business case with an attractive payback period measured in weeks not months
                        .item(data-aos="fade-up" data-aos-delay='500')
                            img(src='static/img/pr-5.png')
                            p.text.uikit__p Rapid and non-intrusive deployment in less than 4 weeks.
            section.get-brochure
                .container
                    .left
                        p.uikit__h1(data-aos="fade-right") Download a detailed brochure about this product
                    .right
                        a(href='#' data-aos="fade-right" data-aos-delay="100").get-brochure-btn
            .form_contacts
                .container.form_contacts__wrap
                    .form_contacts__col
                        h1(data-aos="fade-right" data-aos-anchor-placement="center").uikit__h1.form_contacts__col-title Get in touch
                        p(data-aos="fade-right" data-aos-delay="100" data-aos-anchor=".form_contacts").form_contacts__col-description.uikit__p Write them to us right now!
                    .form_contacts__col
                        form.form
                            .form-fields
                                div(data-aos="fade-up" data-aos-delay="200" data-aos-anchor=".form_contacts").input-field
                                    input(id='name' required name='name')
                                    label(for='name') name
                                div(data-aos="fade-up" data-aos-delay="300" data-aos-anchor=".form_contacts").input-field
                                    input(id='email' required name='email')
                                    label(for='email') e-mail
                                div(data-aos="fade-up" data-aos-delay="500" data-aos-anchor=".form_contacts").input-field
                                    input(id='message' required name='message')
                                    label(for='message') message
                                input(type='submit' id='submitBtn' hidden)
                            div(data-aos="fade-right" data-aos-delay="800" data-aos-anchor="top").right
                                .form-shapes



