extends ../extend/default_sub

block variables
    - var title = 'Solutions';

block main
    main.content(data-page='solutions')
        +privacy
        .solutions
            .container
                .solutions__top-title
                    p.uikit__h4(data-aos="fade-up") Solutions
                .solutions__title
                    p.uikit__h1(data-aos="fade-up" data-aos-delay='200') Real solutions for changing realities.
                .solutions-slider
                    .solutions-slider__title
                        p.uikit__h2(data-aos="fade-right") Our products
                    .solutions-slider__inner
                        .left
                            .desc-block(data-aos="fade-right")
                                p.title Service Assurance
                                p.desc Adapt to the new era by being an early adopter. Our innovative software provides your business with a solution that is easy to implement, efficient and scalable. It’s built for customer demands and allows operators to integrate backend databases and a range of services.
                            ul.list.operators-list
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Voice Safeguard
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Registered Device Protection
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Next Generation Voicemail
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Next Generation IN
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') WebRTC
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Content Discovery
                        .center(data-aos="zoom-in")
                            .content
                                .logo-image
                                    +svg('logo-color', 'logo')
                                .inner.active
                                    p.title Overview
                                    p.desc The Telsis Cloud Contact Centre allows you to manage your customers the way you want to. Our integrated tools and support allows to deliver exceptional customer experience at every stage.
                                    //a(href='./product.html').link
                                    //    |see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Analytics
                                    p.desc Drive meaningful consumer outcomes through interaction analytics and biometrics.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Omnichannel
                                    p.desc Stop talking about providing a seamless customer journey and start providing one with our cloud based software.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Workforce Management
                                    p.desc Optimise your team and transform them into brand ambassadors with our workforce management tools.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Inbound Features
                                    p.desc Integrates beautifully. It’s designed that way.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Integration and APIs
                                    p.desc Use flexible web API’s to improve the efficiency of contact centre agents.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Monitoring and Reporting
                                    p.desc Make better business decision with insightful data.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Security and Compliance
                                    p.desc We safeguard your brand’s reputation by protecting your network and users. Trust us, thousands of companies around the world do.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Voice Safeguard
                                    p.desc Telephony fraud is evolving rapidly. Use our industry leading solution to stay ahead and protect your business from fraud.
                                    a(href='./product.html').link
                                        | see more
                                        include ../../svg/right-arrow.svg
                                .inner
                                    p.title Registered Device Protection
                                    p.desc Comprehensive protection for device across operating systems.
                                    a(href='./product-2.html').link
                                        | see more
                                        include ../../svg/right-arrow.svg
                                .inner
                                    p.title Next Generation Voicemail
                                    p.desc Better services for better customer care.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Next Generation IN
                                    p.desc Launch new services 80% faster and optimise network capacity with our Next Generation IN.
                                    a(href='./product-3.html').link
                                        | see more
                                        include ../../svg/right-arrow.svg
                                .inner
                                    p.title WebRTC
                                    p.desc Real-time communication with a simple and seamless interface. Our WebRTC makes complex decisions easy to decipher.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg
                                .inner
                                    p.title Content Discovery
                                    p.desc Cloud-enabled, metadata normalisation: putting data to work for platforms and content owners.
                                    //a(href='./product.html').link
                                    //    | see more
                                    //    include ../../svg/right-arrow.svg

                        .right
                            .desc-block(data-aos="fade-left")
                                p.title Telsis Cloud Connect
                                p.desc Put your customers at the centre of what you do with the Telsis Cloud Contact Centre. Reach the right people, resolve their issues and do it faster. Make your customer journey seamless.
                            ul.list.contacts-list
                                li.active
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Overview
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Analytics
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Omnichannel
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Workforce Management
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Inbound Features
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Integration and API`s
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Monitoring and Reporting
                                li
                                    a(href='#' data-aos="fade-up" data-aos-offset='0') Security and Compliance


