.product
    overflow: hidden
    .intro
        width: 100%
        min-height: 100vh
        background: rgb(101,66,152)
        background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, #e22266 100%)
        background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,#e22266 100%)
        background: linear-gradient(135deg, rgba(101,66,152,1) 0%,#e22266 100%)
        .container
            display: flex
            padding-top: 20px
            height: 100vh
            align-items: center
            position: relative
            .left
                position: relative
                z-index: 2
                +res('mob')
                    width: 100%
                    padding-top: 25px
                .title
                    margin-bottom: 30px
                    width: 500px
                    max-width: 100%
                    +res('mob')
                        width: 100%
                .desc
                    font-family: 'ApercuBold'
                    font-size: 22px
                    line-height: 32px
                    width: 390px
                    max-width: 100%
                    +res('mob')
                        font-size: 18px
                        line-height: 26px
                .brochure-btn
                    margin-top: 55px
                    width: 240px
                    height: 80px
                    display: block
            .right
                position: absolute
                z-index: 1
                right: 0
                top: 0
                height: 100%
                width: 50%
                +res('mob')
                    width: 100%
                .canvas-wrapper-product
                    height: 100%
                    width: 100%
    .about
        width: 100%
        padding: 120px 0
        background: rgb(250,252,252)
        background: -moz-linear-gradient(left, rgba(250,252,252,1) 0%, rgba(223,236,235,1) 100%)
        background: -webkit-linear-gradient(left, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
        background: linear-gradient(to right, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfc', endColorstr='#dfeceb',GradientType=1 )
        +res('tab')
            padding: 60px 0
        +res('mob')
            padding: 40px 0
        .text-wrapper
            max-width: 770px
            text-align: center
            margin: 0 auto
            .top
                font-size: 22px
                line-height: 26px
                color: #171617
                margin-bottom: 30px
                +res('mob')
                    font-size: 18px
                    line-height: 26px
            .bottom
                font-size: 54px
                line-height: 54px
                color: #171617
                +res('tab')
                    font-size: 40px
                    line-height: 40px
                +res('mob')
                    font-size: 30px
                    line-height: 36px
    .how
        width: 100%
        background: rgb(250,252,252)
        background: -moz-linear-gradient(left, rgba(250,252,252,1) 0%, rgba(223,236,235,1) 100%)
        background: -webkit-linear-gradient(left, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
        background: linear-gradient(to right, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfc', endColorstr='#dfeceb',GradientType=1 )
        padding: 120px 0
        +res('tab')
            padding: 60px 0
        +res('mob')
            padding: 40px 0
        .title
            color: #171617
            font-size: 38px
            line-height: 38px
            margin-bottom: 80px
            +res('mob')
                font-size: 24px
                line-height: 28px
        .items
            display: flex
            justify-content: space-between
            counter-reset: steps
            +res('mob')
                flex-direction: column
            .item
                min-width: 20%
                max-width: 20%
                +res('tab')
                    min-width: 25%
                    max-width: 25%
                +res('mob')
                    min-width: 100%
                    max-width: 100%
                    margin-bottom: 110px
                    &:nth-last-child(1)
                        margin-bottom: 0
                .text
                    color: #171617
                    font-size: 15px
                    line-height: 26px
                    position: relative
                    z-index: 1
                    &:before
                        counter-increment: steps
                        content: counter(steps) ' step'
                        font-size: 80px
                        letter-spacing: -0.5px
                        font-family: 'ApercuBold'
                        position: absolute
                        top: -25px
                        left: 0
                        width: 100%
                        text-align: center
                        z-index: -1
                        color: rgba(208,217,217,0.6)
                        +res('tab')
                            font-size: 40px
                            top: -10px
                        +res('mob')
                            font-size: 60px
                            top: -15px
                            text-align: left
                    &:after
                        content: ''
                        position: absolute
                        top: calc(50% - 15px)
                        left: 100%
                        width: 100%
                        height: 30px
                        background-image: url("../img/arrow_product.svg")
                        background-repeat: no-repeat
                        background-position: center
                        +res('tab')
                            width: 70px
                        +res('mob')
                            left: 0
                            height: 12px
                            top: calc(100% + 30px)
                            transform: rotate(90deg)
                &:nth-of-type(3)
                    .text
                        &:after
                            display: none
    .addition
        padding: 120px 0
        background-color: #fff
        +res('tab')
            padding: 60px 0
        +res('mob')
            padding: 40px 0
        .title
            margin-bottom: 30px
        .items
            display: flex
            justify-content: space-between
            +res('tab')
                flex-wrap: wrap
            +res('mob')
                flex-wrap: wrap
            .item
                min-width: 20%
                max-width: 20%
                padding-left: 45px
                +res('tab')
                    min-width: 50%
                    max-width: 50%
                    margin-bottom: 20px
                +res('mob')
                    min-width: 50%
                    max-width: 50%
                    margin-bottom: 20px
                    padding-left: 15px
                &:nth-of-type(1)
                    padding-left: 0
                &:nth-of-type(odd)
                    +res('tab')
                        padding-left: 0
                    +res('mob')
                        padding-left: 0
                img
                    height: 80px
                    margin-bottom: 15px
                .text
                    color: #171617
    .get-brochure
        width: 100%
        background: rgb(101,66,152)
        background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, #e22266 100%)
        background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,#e22266 100%)
        background: linear-gradient(135deg, rgba(101,66,152,1) 0%,#e22266 100%)
        padding: 60px 0
        +res('tab')
            padding: 50px 0
        +res('mob')
            padding: 40px 0
        .container
            display: flex
            align-items: center
            +res('mob')
                flex-direction: column
        .left
            width: 60%
            +res('mob')
                width: 100%
                margin-bottom: 40px
        .right
            width: 40%
            display: flex
            justify-content: flex-end
            +res('mob')
                width: 100%
                justify-content: center
            .get-brochure-btn
                width: 270px
                height: 80px
                display: block
    .form_contacts
        .form_contacts__col-title
            max-width: 390px
    .form
        +res('tab')
            padding-right: 0
            .form-fields
                width: 100%
            input
                width: 100%
        .right
            +res('tab')
                width: 100%
                justify-content: flex-end

