.solutions
    min-height: 100vh
    padding-top: 230px
    padding-bottom: 70px
    background: rgb(250,252,252)
    background: -moz-linear-gradient(left, rgba(250,252,252,1) 0%, rgba(223,236,235,1) 100%)
    background: -webkit-linear-gradient(left, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
    background: linear-gradient(to right, rgba(250,252,252,1) 0%,rgba(223,236,235,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfc', endColorstr='#dfeceb',GradientType=1 )
    overflow: hidden
    +res('mob')
        padding-top: 105px
    &__top-title
        margin-bottom: 40px
        p
            color: #171617
        +res('mob')
            margin-bottom: 30px
    &__title
        width: 780px
        max-width: 100%
        margin-bottom: 110px
        p
            color: #171617
            line-height: 62px
            +res('mob')
                line-height: 36px
        +res('mob')
            margin-bottom: 35px

    &-slider
        +res('tab')
            position: relative
        +res('mob')
            position: relative

        &__title
            margin-bottom: 50px
            +res('tab')
                margin-bottom: 580px
            +res('mob')
                margin-bottom: 400px

        &__inner
            display: flex
            justify-content: space-between
            +res('mob')
                flex-direction: column
            .desc-block
                margin-bottom: 50px
                .title
                    font-size: 30px
                    line-height: 36px
                    margin-bottom: 20px
                .desc
                    font-family: 'Roboto'
                    font-size: 15px
                    line-height: 26px
            .left
                width: 315px
                +res('tab')
                    width: 50%
                    padding-right: 10px
                +res('mob')
                    width: 100%
                li
                    height: 50px
                    a
                        text-decoration: none
                        color: #171617
                        font-size: 18px
                        line-height: 24px
                        transition: .3s
                        display: block
                        width: 100%
                    +res('desk-min')
                        &:hover
                            a
                                color: #32b4d4
                                font-size: 22px
                    &.active
                        a
                            color: #32b4d4
                            font-size: 22px

            .center
                min-width: 545px
                position: relative
                display: flex
                justify-content: center
                align-items: center
                user-select: none
                user-focus: none
                user-focus-pointer: none
                -webkit-tap-highlight-color: rgba(0,0,0,0)
                canvas
                    position: absolute
                    top: 0
                    left: 0
                +res('tab')
                    position: absolute
                    top: 80px
                    height: 530px
                    width: 100%
                +res('mob')
                    position: absolute
                    height: 315px
                    top: 80px
                    width: 100%
                    min-width: 0
                .content
                    position: relative
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    z-index: 5
                    width: 300px
                    height: 300px
                .logo-image
                    position: relative
                    width: 65px
                    height: 80px
                    top: -115px
                    z-index: 5
                    margin-bottom: 10px
                    color: #fff
                    svg
                        width: 100%
                        height: 100%
                    +res('mob')
                        height: 50px
                        top: -70px
                .inner
                    max-width: 250px
                    min-width: 250px
                    padding-top: 75px
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translateX(-50%) translateY(-40%)
                    z-index: 10
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    opacity: 0
                    visibility: hidden
                    transition: .3s
                    +res('mob')
                        max-width: 180px
                        min-width: 180px
                        padding-top: 50px
                    &.active
                        opacity: 1
                        visibility: visible
                        transform: translateX(-50%) translateY(-50%)
                    .title
                        font-size: 30px
                        color: #302775
                        margin-bottom: 20px
                        text-align: center
                        max-width: 250px
                        +res('mob')
                            font-size: 18px
                            margin-bottom: 10px
                    .desc
                        font-family: 'Roboto'
                        font-size: 13px
                        line-height: 26px
                        text-align: center
                        max-width: 250px
                        +res('mob')
                            line-height: 12px
                            font-size: 10px
                            max-height: 60px
                            overflow: hidden
                    .link
                        padding-top: 10px
                        margin: 0 auto
                        text-decoration: none
                        color: #fff
                        position: relative
                        display: flex
                        +res('desk-min')
                            &:hover
                                svg
                                    transform: translateX(5px)
                        +res('mob')
                            font-size: 13px
                        svg
                            padding-top: 2px
                            transition: .3s
                            margin-left: 5px
                            width: 22px
                            height: 20px
                            fill: #fff
                            +res('mob')
                                padding-top: 0
                                position: relative
                                top: -3px
                &:before
                    content: ''
                    position: absolute
                    left: 50%
                    width: 1px
                    height: 150%
                    top: -25%
                    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 77%, rgba(255,255,255,0) 100%)
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(255,255,255,0) 100%)
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(255,255,255,0) 100%)
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 )
                    z-index: 1
                canvas
                    position: absolute
                    z-index: 2
            .right
                width: 310px
                +res('tab')
                    width: 50%
                    padding-left: 10px
                +res('mob')
                    width: 100%
                li
                    height: 50px
                    a
                        text-decoration: none
                        color: #171617
                        font-size: 18px
                        line-height: 24px
                        transition: .3s
                        display: block
                        width: 100%
                    +res('desk-min')
                        &:hover
                            a
                                color: #32b4d4
                                font-size: 22px
                    &.active
                        a
                            color: #32b4d4
                            font-size: 22px
                        