.intro_contacts
  width: 100%
  background: rgb(101,66,152)
  background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
  background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
  background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
  overflow: hidden
  &__wrap
    display: flex
  &__canvas
    position: absolute
    bottom: 0
    right: 0
    width: 100%
    height: 100%
    @media only screen and (max-width: 768px)
      right: -20%
      bottom: 26%
    +res('mob')
      width: 350px
      right: -25%
  &__title
    margin-bottom: 50px
    +res('mob')
      margin-bottom: 31px
  &__right-wrap
    max-width: 50%
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    +res('mob')
      max-width: none
  &__follow
    margin-bottom: 28px
    &:last-child
      margin-bottom: 0
    a
      color: #fff
  &__location
    padding: 220px 0 70px 0
    +res('mob')
      padding: 150px 0 40px 0
    &-wrap
      display: flex
      +res('tab')
        flex-wrap: wrap
      +res('mob')
        flex-wrap: wrap
    &-col
      margin-right: 120px
      position: relative
      z-index: 2
      &:nth-of-type(1)
        max-width: 420px
        +res('desk')
          max-width: 265px
      &:nth-of-type(2)
        max-width: 270px
        +res('desk')
          max-width: 220px
          margin-right: 215px
      &:last-child
        margin-right: 0
        display: flex
        align-items: flex-end
        max-width: 350px
        +res('tab')
          margin-top: 40px
      +res('tab')
        margin-right: 125px
        max-width: 269px
        &:nth-child(2)
          margin-right: 0
      +res('mob')
        margin-bottom: 40px
        margin-right: 0
        &:last-child
          margin-bottom: 0

    &-country
      margin-bottom: 25px
      +res('tab')
        margin-bottom: 30px
      +res('mob')
        margin-bottom: 15px
    &-address
      margin-bottom: 12px
      min-width: 270px
      +res('tab')
        margin-bottom: 15px
      +res('mob')
        margin-bottom: 15px
      span
        white-space: nowrap
    &-entry
      display: inline-flex
      flex-direction: column
      a
        white-space: nowrap
        text-decoration: none
        position: relative
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 50%
          transform: translateX(-50%)
          height: 1px
          width: 0
          background-color: #fff
          transition: .3s
        +res('desk-min')
          &:hover
            &:after
              width: 100%
    &-email
      +res('mob')
        margin-bottom: 10px

