.form_contacts
  padding: 70px 0
  background-color: #fff
  position: relative
  z-index: 2
  +res('mob')
    padding: 40px 0
  &__wrap
    display: flex
    justify-content: space-between
    +res('mob')
      display: block
  &__col
    max-width: 50%
    width: 100%
    @media only screen and (max-width: 768px)
      max-width: 44%
    +res('mob')
      max-width: none
      margin-bottom: 28px
      &:last-child
        margin-bottom: 0
    &-title
      color: #171617
      margin-bottom: 30px
      +res('mob')
        margin-bottom: 15px
    &-description
      color: #171617
      font-size: 13px
      max-width: 475px
      line-height: 20px
.form
  display: flex
  justify-content: space-between
  width: 100%
  padding: 10px 25px 0 0
  +res('tab')
    flex-wrap: wrap
  +res('mob')
    display: block
    padding-right: 0
  .form-fields
    display: flex
    flex-direction: column
    .input-field
      position: relative
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
        +res('tab')
          margin-bottom: 30px
    label
      position: absolute
      top: 0
      left: 0
      color: #171617
      transition: .3s
      &.active
        top: -15px
    input
      width: 290px
      height: 30px
      background-color: transparent
      border: none
      outline: none
      border-bottom: 1px solid #171617
      color: #171617
      padding-left: 10px
      position: relative
      z-index: 1
      +res('mob')
        width: 100%
  .right
    min-width: 290px
    display: flex
    align-items: center
    min-height: 100%
    position: relative
    +res('mob')
      width: 100%
      min-width: auto
    .form-shapes
      width: 270px
      height: 80px
      top: 29px
      position: absolute
      left: 35px
      transition: .5s
      +res('tab')
        position: static
      +res('mob')
        position: static
        margin: 40px auto 0 auto