.intro_about
    background-image: linear-gradient(260deg, #d9e8e7, #ffffff)
    padding: 225px 0 0 0
    position: relative
    .canvas-wrapper-about
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 415px
        +res('tab')
            background-image: url('../img/about_768.png')
            background-size: contain
            background-repeat: no-repeat
            background-position: 50% 30%
        +res('mob')
            background-image: url('../img/about_320.png')
            background-size: contain
            background-repeat: no-repeat
            background-position: 50% 0

    +res('mob')
        padding: 150px 0 36px 0
    &__uppertitle
        color: #171617
        margin-bottom: 20px
        +res('mob')
            margin-bottom: 20px
    &__title
        color: #171617
        max-width: 65%
        line-height: 62px
        margin-bottom: 100px
        +res('tab')
            margin-bottom: 78px
            max-width: 84%
        +res('mob')
            max-width: none
            margin-bottom: 25px

    &__col
        display: flex
        margin-bottom: 85px
        &:last-child
            margin-bottom: 0
        &:nth-child(even)
            justify-content: flex-end
        &-content
            max-width: 387px
            padding-bottom: 118px
            +res('tab')
                max-width: 315px
            +res('mob')
                max-width: none
                padding-bottom: 0
        &-title
            margin-bottom: 30px
            +res('mob')
                margin-bottom: 23px
        &-description
            color: #171617
            margin-bottom: 12px
            &:last-child
                margin-bottom: 0
            +res('tab')
                margin-bottom: 15px
            +res('mob')
                margin-bottom: 15px